.SearchPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    width: 85%;
  }
  

  .search-msg{
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }

  button,
  .search-input {
    background-color: white;
    font-size: 30px;
    padding: 8px;
  }

  .distance-holder {

    .search-error {
      font-size: 20px;
      color: red;
    }

    .search-input {
      width: 100%;
    }
  }
}