.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  margin-top: 80px;
}

.contact-button,
.contact-input {
  background-color: white;
  font-size: 30px;
  padding: 8px;
}

.contact-list {
  background-color: grey;
  list-style: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
}