.Splash{
  height: 70vh;
  width: 80%;
  text-align: center;
  margin-top: -200px;
}

.main-link,
.splash-n {
  color: white;
  font-weight: 800;
  font-size: 14vh;
  margin: 10px;
}

h4 {
  font-size: 4vh;
  margin: 15px;
}

.main-link {
  &:hover {
    cursor: pointer;
  }
}